fastai==1.0.61
wandb
tensorboardX
ffmpeg
ffmpeg-python
youtube-dl
jupyterlab
opencv-python
opencv-python-headless<4.3
pillow
scikit-image
requests
loguru
telepot
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.9.2 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
