fastai==1.0.61
wandb
tensorboardX
ffmpeg
ffmpeg-python
youtube-dl
jupyterlab
opencv-python
opencv-python-headless<4.3
pillow
scikit-image
requests
loguru
telepot
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
